version: '3.8'
services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: a123a
      MYSQL_DATABASE: mvp_ods_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_pass123
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:



  